[Unit]
Description=Server returns request
After=syslog.target
After=network.target

[Service]
User=root
WorkingDirectory=/mnt/disk1/restgrpcproxy
ExecStart=/mnt/disk1/restgrpcproxy/restgrpcproxy --config=/mnt/disk1/restgrpcproxy/config/prod.yaml
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target 
